@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px rgb(204, 204, 204);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px rgb(31, 31, 31);
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.background-animate {
  background-size: 150%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.bg-IDK {
  background-image: url("../public/images/projeto1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-RM {
  background-image: url("../public/images/projeto2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-Post {
  background-image: url("../public/images/projeto3.png");
  background-size: cover;
  background-position: -100px;
  background-repeat: no-repeat;
}
